<h1>Flats</h1>
<ul>
<% @flats.each do |flat| %>
  <li>
    <%= flat.name %> (
    <%= link_to 'More Info', flat_path(flat) %> |
    <%= link_to 'Edit', edit_flat_path(flat) %> |
    <%= link_to 'Remove', flat_path(flat), method: :delete, data: { confirm: "Delete flat?" } %> )
  </li>
<% end %>
</ul>
<br>
<%= link_to 'Add flat', new_flat_path %>
